<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>PIX STUDY GIT</title>
<!-- <link rel="shortcut icon" href="./../../assets/images/bui/favicon.ico"> -->
<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/github.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/bash.min.js"></script>
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/gsap.min.js"></script>
<script src="../assets/js/ScrollTrigger.min.js"></script>
<script src="../assets/js/ScrollToPlugin.min.js"></script>
<script src="../assets/js/swiper-bundle.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="../assets/js/guide.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
