		<!--page-foot-->
		<div class="page-foot" id="foot">
			<p class="copyright">© Pentabreed PIX All rights reserved.</p>
		</div>
		<!--//page-foot-->
		<div class="page-baseline" id="pageBaseline"></div>
		<div class="page-grid" id="pageGrid">
			<div class="grid-list"><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span><span class="grid-item"></span></div>
		</div>
		<!--//page-control-->