		<!--page-side-->
		<div class="page-side" id="layoutPageSide">
			<!--aside-body-->
			<div class="aside-body">
				<!--section-->
				<div class="section toc" id="tableOfContent">
					<div class="section-head">
						<h2 class="section-subject">
							<span class="section-name">Development of UI/UX </span>
							<p class="para">HERE'S WHAT TEAM PIX HAS CREATED.</p>
						</h2>
					</div>
					<div class="section-body">
						<ul class="gnb-list">
							<li class="gnb-item"><span class="gnb-name">Preview</span>
								<ul class="lnb-list">
									<li class="lnb-item"><a class="lnb-name" href="./../list/front.html">Front</a></li>
								</ul>
							</li>
							<li class="gnb-item"><span class="gnb-name">Study</span>
								<ul class="lnb-list">
									<li class="lnb-item"><a class="lnb-name" href="./../sliders/sliders1.html">작업자1</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../show/show1.html">작업자2</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../show/show1.html">작업자3</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../show/show1.html">작업자4</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<!--//section-->
			</div>
			<!--//aside-body-->
		</div>