<header class="header">
    <div class="header-inner">
      <h1 class="site-logo">
        <a href="javascript:void(0)" title="SK 네트웍스">
          <span class="blind">SK 네트웍스</span>
        </a>
      </h1>
      <div class="site-navi" id="naviMenu">
        <ul class="depth1-list">
            <li class="depth1-item">
                <a href="javascript:void(0)">Company</a>
                <ul class="depth2-list">
                    <li class="depth2-item">
                        <a href="javascript:void(0)" target="_self">기업 개요</a>
                    </li>
                    <li class="depth2-item">
                        <a href="javascript:void(0)" target="_self">CEO인사말</a>
                    </li>
                    <li class="depth2-item">
                        <a href="javascript:void(0)" target="_self">연혁</a>
                    </li>
                    <li class="depth2-item">
                        <a href="javascript:void(0)" target="_self">글로벌 네트워크</a>
                    </li>
                </ul>
            </li>
        </ul>
      </div>
      <div class="site-util">
        <div class="contact-wrap">
            <a href="javascript:void(0)" class="btn text design1 case1 color1">
                <span class="btn-text">문의·제안</span>
            </a>
        </div>
        <div class="lang-wrap">
            <a href="javascript:void(0)" class="go_join">
                <span class="current-lang">KR</span>
            </a>
            <div class="drop-down">
                <ul class="drop-down-list">
                    <li class="drop-down-item">
                        <span class="drop-text">KOR</span>
                    </li>
                    <li class="drop-down-item">
                        <span class="drop-text">ENG</span>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>
</header>