@charset "utf-8";

body {
    .blind {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        border: 0;
        white-space: nowrap;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        overflow: hidden;
    }

    @include web {
        .mo-only {
            display: none !important;
        }
    }

    @include mobile {
        .pc-only {
            display: none !important;
        }
    }

    /* Accent */
    .accent {
        //weight
        &.case1 {
            font-weight: 400 !important;
        }

        &.case2 {
            font-weight: 500 !important;
        }

        &.case3 {
            font-weight: 600 !important;
        }

        &.case4 {
            font-weight: 700 !important;
        }

        //color
        &.color1 {
            color: color(primary, 100) !important;
        }

        &.color2 {
            color: color(etc, 100) !important;
        }

        &.color3 {
            color: color(neutral, 060) !important;
        }

        &.color4 {
            color: color(system, 070) !important;
        }
        &.color5 {
            color: color(system, 080) !important;
        }
        &.color6 {
            color: color(typo, 020) !important;
        }
        &.color7 {
            color: color(primary, 080) !important;
        }
        &.color8 {
            color: color(typo, 010) !important;
        }
        &.color9 {
            color: color(primary, 070) !important;
        }
    }

    .skip {
        ul {
            li {
                a {
                    display: flex;
                    position: absolute;
                    top: -10rem;
                    right: 0;
                    left: 0;
                    height: 5.6rem;
                    background: color(neutral, 080);
                    color: color(system, 070);
                    font-size: 16px;
                    line-height: 5.6rem;
                    text-align: center;
                    flex-direction: column;
                    justify-content: center;
                    z-index: 99999;
    
                    &:focus-within,
                    &:focus,
                    &:active {
                        top: 0;
                    }
                }
            }
        }
    }

    .scroll-guide {
        display: flex;
        color: color(system,070);
        align-items: center;
        gap: 0.8rem;
        @include font(small-5x, bold);
        &::after {
            display: block;
            width: 1.6rem;
            height: 1.6rem;
            content:'';
            background-image: icon(arrow-down2, color(system,070));
            background-repeat: no-repeat;
            background-size: 1rem;
            background-position: center;
        }
    }
    
    .no-result-wrap {
        padding: 16rem 0;
        text-align: center;
        .no-result-title {
            @include font(small-2x,bold);
            color: color(typo,005);
        }
        @include mobile {
            padding: 8rem 0;
            .no-result-title {
                @include font(small-3x,bold);
            }
        }
    }

    .text-bundle {
        display: inline-block;
    }
}