$icon: (
    arrow-up1: (
        size-w: 14,
        size-h: 9,
        path:
        'M0.365166 8.63483C0.0136945 8.28336 0.0136945 7.71351 0.365166 7.36204L7.00156 0.725645L13.638 7.36204C13.9894 7.71351 13.9894 8.28336 13.638 8.63483C13.2865 8.9863 12.7166 8.9863 12.3652 8.63483L7.00156 3.27123L1.63796 8.63483C1.28649 8.98631 0.716638 8.98631 0.365166 8.63483Z'
        ,
    ),
    arrow-down1: (
        size-w: 14,
        size-h: 9 ,
        path:
        'M13.6348 0.365166C13.9863 0.716638 13.9863 1.28649 13.6348 1.63796L6.99844 8.27435L0.362041 1.63796C0.0105695 1.28649 0.0105695 0.716638 0.362041 0.365166C0.713513 0.0136939 1.28336 0.013694 1.63483 0.365166L6.99844 5.72877L12.362 0.365166C12.7135 0.0136945 13.2834 0.0136945 13.6348 0.365166Z'
        ,
    ),
    arrow-down2: (
        size-w: 14,
        size-h: 15,
        path:
        'M6.00098 0.75C6.00098 0.335786 6.33676 0 6.75098 0C7.16519 0 7.50098 0.335786 7.50098 0.75L7.50098 11.9393L12.2206 7.21967C12.5135 6.92678 12.9884 6.92678 13.2813 7.21967C13.5742 7.51256 13.5742 7.98744 13.2813 8.28033L6.75098 14.8107L0.220646 8.28033C-0.0722467 7.98744 -0.0722467 7.51256 0.220646 7.21967C0.51354 6.92678 0.988413 6.92678 1.28131 7.21967L6.00098 11.9393L6.00098 0.75Z'
        ,
    ),
    arrow-left1: (
        size-w: 9,
        size-h: 14,
        path:
        'M8.63483 0.365166C8.28336 0.0136945 7.71351 0.0136945 7.36204 0.365166L0.725645 7.00156L7.36204 13.638C7.71351 13.9894 8.28336 13.9894 8.63483 13.638C8.98631 13.2865 8.98631 12.7166 8.63483 12.3652L3.27123 7.00156L8.63483 1.63796C8.98631 1.28649 8.98631 0.716638 8.63483 0.365166Z'
        ,
    ),
    arrow-left2: (
        size-w: 15,
        size-h: 14,
        path:
        'M6.78217 0.217717C7.07506 -0.0751764 7.54994 -0.0751764 7.84283 0.217717C8.13572 0.51061 8.13572 0.985484 7.84283 1.27838L3.12316 5.99805L13.75 5.99805C14.1642 5.99805 14.5 6.33383 14.5 6.74805C14.5 7.16226 14.1642 7.49805 13.75 7.49805L3.12316 7.49805L7.84283 12.2177C8.13572 12.5106 8.13572 12.9855 7.84283 13.2784C7.54994 13.5713 7.07506 13.5713 6.78217 13.2784L1.00184 7.49805H1V7.49621L0.25184 6.74805L1 5.99989V5.99805H1.00184L6.78217 0.217717Z'
        ,
    ),
    arrow-right1: ( 
        size-w: 9,
        size-h: 14,
        path:
        'M0.365166 0.365166C0.716638 0.0136945 1.28649 0.0136945 1.63796 0.365166L8.27435 7.00156L1.63796 13.638C1.28649 13.9894 0.716638 13.9894 0.365166 13.638C0.0136945 13.2865 0.0136945 12.7166 0.365166 12.3652L5.72877 7.00156L0.365166 1.63796C0.0136945 1.28649 0.0136945 0.716638 0.365166 0.365166Z'
        ,
    ),
    arrow-right2: (
        size-w: 15,
        size-h: 14,
        path:
        'M8.28033 0.217717C7.98744 -0.0751764 7.51256 -0.0751764 7.21967 0.217717C6.92678 0.51061 6.92678 0.985484 7.21967 1.27838L11.9393 5.99805L0.75 5.99805C0.335786 5.99805 0 6.33383 0 6.74805C0 7.16226 0.335786 7.49805 0.75 7.49805L11.9393 7.49805L7.21967 12.2177C6.92678 12.5106 6.92678 12.9855 7.21967 13.2784C7.51256 13.5713 7.98744 13.5713 8.28033 13.2784L14.8107 6.74805L8.28033 0.217717Z'
        ,
    ),
    arrow-right-up2: (
        size-w: 11,
        size-h: 11,
        path:
        'M1.45703 0C1.04282 0 0.707031 0.335787 0.707031 0.75C0.707031 1.16421 1.04282 1.5 1.45703 1.5H8.13372L0.21967 9.41405C-0.0732233 9.70694 -0.0732233 10.1818 0.21967 10.4747C0.512563 10.7676 0.987437 10.7676 1.28033 10.4747L9.19231 2.56273V9.23528C9.19231 9.6495 9.5281 9.98528 9.94231 9.98528C10.3565 9.98528 10.6923 9.6495 10.6923 9.23528V0H1.45703Z'
        ,
    ),
    arrow-right-up3: (
        size-w: 11,
        size-h: 12,
        path:
        'M7.47446 2.77539L1.40625 2.77539C0.853965 2.77539 0.40625 2.32768 0.40625 1.77539C0.40625 1.22311 0.853965 0.775391 1.40625 0.775391L9.89153 0.775391C10.1567 0.775391 10.4111 0.880747 10.5986 1.06828C10.7862 1.25582 10.8915 1.51017 10.8915 1.77539V10.2607C10.8915 10.813 10.4438 11.2607 9.89153 11.2607C9.33925 11.2607 8.89153 10.813 8.89153 10.2607V4.18674L2.81648 10.2618C2.42596 10.6523 1.79279 10.6523 1.40227 10.2618C1.01174 9.87127 1.01174 9.23811 1.40227 8.84758L7.47446 2.77539Z'
        ,
    ),
    arrow-fill-up: (
        size-w: 12,
        size-h: 8,
        path:
        'M6.00084 -9.08524e-07L11.197 7.5L0.804689 7.5L6.00084 -9.08524e-07Z'
        ,
    ),
    arrow-fill-down: (
        size-w: 12,
        size-h: 8,
        path:
        'M5.99916 8L0.803008 0.5L11.1953 0.500001L5.99916 8Z'
        ,
    ),
    arrow-fill-right: (
        size-w: 8,
        size-h: 12,
        path:
        'M8 6.00084L0.5 11.197L0.5 0.804688L8 6.00084Z'
        ,
    ),
    arrow-fill-left: (
        size-w: 8,
        size-h: 12,
        path:
        'M-6.19635e-08 6.00084L7.5 11.197L7.5 0.804688L-6.19635e-08 6.00084Z'
        ,
    ),
    more: (
        size-w: 3,
        size-h: 14,
        path:
        'M1.5 3C2.32812 3 3 2.32812 3 1.5C3 0.671875 2.32812 0 1.5 0C1.33203 0 1.16797 0.03125 1.01562 0.0859375C0.425781 0.28125 0 0.84375 0 1.5C0 2.32812 0.671875 3 1.5 3ZM3 7C3 7.82812 2.32812 8.5 1.5 8.5C0.671875 8.5 0 7.82812 0 7C0 6.17188 0.671875 5.5 1.5 5.5C1.89844 5.5 2.26172 5.65625 2.53125 5.90625C2.66016 6.03125 2.76953 6.17969 2.84766 6.34375C2.94531 6.54688 3 6.76562 3 7ZM3 12.5C3 13.3281 2.32812 14 1.5 14C0.671875 14 0 13.3281 0 12.5C0 11.6719 0.671875 11 1.5 11C2.32812 11 3 11.6719 3 12.5Z'
        ,
    ),
    trash: (
        size-w: 18,
        size-h: 19,
        path:
        'M5.25 3C5.25 1.48122 6.48122 0.25 8 0.25H10C11.5188 0.25 12.75 1.48122 12.75 3V3.25H17C17.4142 3.25 17.75 3.58579 17.75 4C17.75 4.41421 17.4142 4.75 17 4.75H15.75V16C15.75 17.5188 14.5188 18.75 13 18.75H5C3.48122 18.75 2.25 17.5188 2.25 16V4.75H1C0.585786 4.75 0.25 4.41421 0.25 4C0.25 3.58579 0.585786 3.25 1 3.25H5.25V3ZM3.75 4.75V16C3.75 16.6904 4.30964 17.25 5 17.25H13C13.6904 17.25 14.25 16.6904 14.25 16V4.75H3.75ZM11.25 3.25H6.75V3C6.75 2.30964 7.30964 1.75 8 1.75H10C10.6904 1.75 11.25 2.30964 11.25 3V3.25ZM7 7.25C7.41421 7.25 7.75 7.58579 7.75 8V14C7.75 14.4142 7.41421 14.75 7 14.75C6.58579 14.75 6.25 14.4142 6.25 14V8C6.25 7.58579 6.58579 7.25 7 7.25ZM11 7.25C11.4142 7.25 11.75 7.58579 11.75 8V14C11.75 14.4142 11.4142 14.75 11 14.75C10.5858 14.75 10.25 14.4142 10.25 14V8C10.25 7.58579 10.5858 7.25 11 7.25Z'
        ,
    ),
    language: (
        size-w: 20,
        size-h: 20,
        path:
        'M9.18054 2.22032C9.52088 1.88212 9.78138 1.80829 9.94463 1.80818H9.945C10.1082 1.80818 10.3689 1.88187 10.7095 2.22032C11.0537 2.5624 11.4124 3.1139 11.7351 3.88788C12.0548 4.65488 12.3166 5.58639 12.4973 6.63298C12.6276 7.38792 12.7128 8.18525 12.75 9H7.14004C7.17724 8.18525 7.26237 7.38792 7.39272 6.63297C7.57343 5.58639 7.83523 4.65488 8.15495 3.88788C8.47758 3.1139 8.8363 2.5624 9.18054 2.22032ZM5.25405 9C5.29241 8.08892 5.38619 7.19205 5.53375 6.33741C5.73183 5.19021 6.02522 4.12839 6.4054 3.21634C6.51562 2.95193 6.63394 2.69816 6.76044 2.45725C5.80111 2.86526 4.92889 3.45391 4.1914 4.1914C3.43583 4.94697 2.83647 5.84397 2.42756 6.83117C2.13974 7.52603 1.95024 8.25599 1.86324 9H5.25405ZM1.85323 10.8H5.25045C5.2863 11.742 5.38133 12.6698 5.53375 13.5526C5.73183 14.6998 6.02522 15.7616 6.4054 16.6737C6.51562 16.9381 6.63394 17.1918 6.76044 17.4327C5.80111 17.0247 4.92889 16.4361 4.1914 15.6986C3.43583 14.943 2.83647 14.046 2.42756 13.0588C2.12815 12.336 1.93513 11.5751 1.85323 10.8ZM5.98722e-05 9.91049C1.99607e-05 9.92199 0 9.93349 0 9.945C0 11.251 0.257235 12.5442 0.757018 13.7508C1.2568 14.9574 1.98934 16.0537 2.91282 16.9772C3.8363 17.9007 4.93263 18.6332 6.13921 19.133C7.3458 19.6328 8.639 19.89 9.945 19.89C11.251 19.89 12.5442 19.6328 13.7508 19.133C14.9574 18.6332 16.0537 17.9007 16.9772 16.9772C17.9007 16.0537 18.6332 14.9574 19.133 13.7508C19.6328 12.5442 19.89 11.251 19.89 9.945C19.89 8.63901 19.6328 7.3458 19.133 6.13921C18.6332 4.93263 17.9007 3.8363 16.9772 2.91282C16.0537 1.98935 14.9574 1.2568 13.7508 0.757019C12.5442 0.257235 11.251 0 9.945 0C8.63901 0 7.3458 0.257235 6.13921 0.757018C4.93263 1.2568 3.8363 1.98934 2.91282 2.91282C1.98935 3.8363 1.2568 4.93263 0.757018 6.13921C0.265482 7.32589 0.00855537 8.59635 0.000210059 9.88036C7.0257e-05 9.88689 0 9.89344 0 9.9C0 9.9035 1.99932e-05 9.907 5.98722e-05 9.91049ZM7.13612 10.8H12.7539C12.719 11.646 12.6324 12.4743 12.4973 13.257C12.3166 14.3036 12.0548 15.2351 11.7351 16.0021C11.4124 16.7761 11.0537 17.3276 10.7095 17.6697C10.3689 18.0081 10.1082 18.0818 9.945 18.0818C9.78177 18.0818 9.52114 18.0081 9.18054 17.6697C8.8363 17.3276 8.47758 16.7761 8.15495 16.0021C7.83523 15.2351 7.57343 14.3036 7.39272 13.257C7.25758 12.4743 7.17104 11.646 7.13612 10.8ZM14.6396 10.8C14.6037 11.742 14.5087 12.6698 14.3562 13.5526C14.1582 14.6998 13.8648 15.7616 13.4846 16.6737C13.3744 16.9381 13.2561 17.1918 13.1296 17.4327C14.0889 17.0247 14.9611 16.4361 15.6986 15.6986C16.4542 14.943 17.0535 14.046 17.4624 13.0588C17.7619 12.336 17.9549 11.5751 18.0368 10.8H14.6396ZM18.0268 9C17.9398 8.25599 17.7503 7.52603 17.4624 6.83118C17.0535 5.84397 16.4542 4.94697 15.6986 4.1914C14.9611 3.45391 14.0889 2.86526 13.1296 2.45725C13.2561 2.69816 13.3744 2.95193 13.4846 3.21634C13.8648 4.1284 14.1582 5.19021 14.3562 6.33742C14.5038 7.19206 14.5976 8.08892 14.6359 9H18.0268Z'
        ,
    ),
    download: (
        size-w: 18,
        size-h: 17,
        path:
        'M9.8 0.915625C9.8 0.418568 9.39706 0.015625 8.9 0.015625C8.40294 0.015625 8 0.418568 8 0.915625V9.72721L5.5364 7.2636C5.18492 6.91213 4.61508 6.91213 4.2636 7.2636C3.91213 7.61508 3.91213 8.18492 4.2636 8.5364L8.17172 12.4445C8.33533 12.6694 8.60059 12.8156 8.9 12.8156C9.19941 12.8156 9.46468 12.6694 9.62829 12.4445L13.5364 8.5364C13.8879 8.18492 13.8879 7.61508 13.5364 7.2636C13.1849 6.91213 12.6151 6.91213 12.2636 7.2636L9.8 9.72721V0.915625ZM1.8 11.9C1.8 11.4029 1.39706 11 0.9 11C0.402944 11 0 11.4029 0 11.9V15.9C0 16.3971 0.402944 16.8 0.9 16.8H16.9C17.3971 16.8 17.8 16.3971 17.8 15.9V11.9C17.8 11.4029 17.3971 11 16.9 11C16.4029 11 16 11.4029 16 11.9V15H1.8V11.9Z'
        ,
    ),
    close: (
        size-w: 12,
        size-h: 12,
        path:
        'M10.2626 11.5344C10.6141 11.8859 11.1839 11.8859 11.5354 11.5344C11.8869 11.183 11.8869 10.6131 11.5354 10.2617L7.1718 5.89803L11.5354 1.53444C11.8868 1.18297 11.8868 0.61312 11.5354 0.261649C11.1839 -0.0898215 10.614 -0.0898198 10.2626 0.261653L5.89901 4.62524L1.53542 0.261651C1.18395 -0.0898212 0.614099 -0.0898211 0.262627 0.261651C-0.0888446 0.613123 -0.0888446 1.18297 0.262628 1.53444L4.62622 5.89803L0.262626 10.2617C-0.0888451 10.6131 -0.0888434 11.183 0.26263 11.5344C0.614102 11.8859 1.18395 11.8859 1.53542 11.5344L5.89901 7.17083L10.2626 11.5344Z'
        ,
    ),
    minus: (
        size-w: 15,
        size-h: 2,
        path:
        'M0.261719 1.00156C0.261719 0.504506 0.664662 0.101562 1.16172 0.101562L13.1617 0.101562C13.6588 0.101562 14.0617 0.504506 14.0617 1.00156C14.0617 1.49862 13.6588 1.90156 13.1617 1.90156L1.16172 1.90156C0.664662 1.90156 0.261719 1.49862 0.261719 1.00156Z'
        ,
    ),
    plus: (
        size-w: 14,
        size-h: 14,
        path:
        'M6 12.9C6 13.3971 6.40294 13.8 6.9 13.8C7.39706 13.8 7.8 13.3971 7.8 12.9V7.8H12.9C13.3971 7.8 13.8 7.39706 13.8 6.9C13.8 6.40294 13.3971 6 12.9 6H7.8V0.9C7.8 0.402944 7.39706 0 6.9 0C6.40294 0 6 0.402944 6 0.9V6H0.9C0.402944 6 0 6.40294 0 6.9C0 7.39706 0.402944 7.8 0.9 7.8H6V12.9Z'
        ,
    ),
    menu: (
        size-w: 19,
        size-h: 14,
        path:
        'M0.9 0.101562C0.402944 0.101562 0 0.504506 0 1.00156C0 1.49862 0.402944 1.90156 0.9 1.90156H17.378C17.8751 1.90156 18.278 1.49862 18.278 1.00156C18.278 0.504506 17.8751 0.101562 17.378 0.101562H0.9ZM0 7.00156C0 6.50451 0.402944 6.10156 0.9 6.10156H17.378C17.8751 6.10156 18.278 6.50451 18.278 7.00156C18.278 7.49862 17.8751 7.90156 17.378 7.90156H0.9C0.402944 7.90156 0 7.49862 0 7.00156ZM0 13.0016C0 12.5045 0.402944 12.1016 0.9 12.1016H17.378C17.8751 12.1016 18.278 12.5045 18.278 13.0016C18.278 13.4986 17.8751 13.9016 17.378 13.9016H0.9C0.402944 13.9016 0 13.4986 0 13.0016Z'
        ,
    ),
    menu-header: (
        size-w: 24,
        size-h: 12,
        path:
        'M0.439453 0.439453C0.167969 0.710938 0 1.08594 0 1.5C0 2.32837 0.671875 3 1.5 3H22.5C23.3281 3 24 2.32837 24 1.5C24 0.671631 23.3281 0 22.5 0H1.5C1.08594 0 0.710938 0.167969 0.439453 0.439453ZM22.5 9H1.5C0.671875 9 0 9.67163 0 10.5C0 11.3284 0.671875 12 1.5 12H22.5C23.3281 12 24 11.3284 24 10.5C24 10.1174 23.8574 9.76831 23.6211 9.50317C23.3457 9.19434 22.9453 9 22.5 9Z'
        ,
    ),
    link: (
        size-w: 18,
        size-h: 18,
        path:
        'M12.195 2.71893C13.2468 1.66298 14.7336 1.68117 15.5249 2.47561C16.3189 3.27269 16.3356 4.77127 15.2826 5.82839L13.3435 7.77499C12.9927 8.12714 12.9938 8.69699 13.346 9.04778C13.6981 9.39857 14.268 9.39746 14.6188 9.04531L16.5578 7.09872C18.182 5.46817 18.4157 2.8271 16.8002 1.20528C15.182 -0.419174 12.5451 -0.183109 10.9197 1.44861L7.04157 5.34177L7.67587 5.97362L7.04157 5.34178C5.41734 6.97232 5.18365 9.61342 6.79918 11.2352C7.14997 11.5874 7.71982 11.5885 8.07197 11.2377C8.42413 10.8869 8.42523 10.3171 8.07444 9.96491C7.28044 9.16783 7.26379 7.66923 8.31683 6.6121L12.195 2.71893L11.5669 2.09327L12.195 2.71893ZM11.1986 6.76256C10.8478 6.41041 10.278 6.40931 9.92584 6.7601C9.57369 7.11089 9.57259 7.68073 9.92338 8.03289C10.7174 8.82998 10.734 10.3285 9.68099 11.3857L5.80289 15.2789C4.75102 16.3348 3.26425 16.3166 2.47288 15.5222C1.67887 14.7251 1.66223 13.2265 2.71527 12.1694L4.65434 10.2228C5.00513 9.87061 5.00403 9.30076 4.65188 8.94997C4.29972 8.59918 3.72988 8.60029 3.37909 8.95244L1.44001 10.899C-0.184227 12.5296 -0.417917 15.1707 1.19763 16.7925C2.8158 18.417 5.45274 18.1809 7.07815 16.5492L10.9562 12.656C12.5805 11.0254 12.8142 8.38438 11.1986 6.76256Z'
        ,
    ),
    people: (
        size-w: 24,
        size-h: 16,
        path:
        'M12.0016 1.90156C10.8418 1.90156 9.90156 2.84176 9.90156 4.00156C9.90156 5.16136 10.8418 6.10156 12.0016 6.10156C13.1614 6.10156 14.1016 5.16136 14.1016 4.00156C14.1016 2.84176 13.1614 1.90156 12.0016 1.90156ZM8.10156 4.00156C8.10156 1.84765 9.84765 0.101562 12.0016 0.101562C14.1555 0.101562 15.9016 1.84765 15.9016 4.00156C15.9016 6.15547 14.1555 7.90156 12.0016 7.90156C9.84765 7.90156 8.10156 6.15547 8.10156 4.00156ZM6.85012 0.872356C7.01576 1.341 6.77013 1.85519 6.30148 2.02083C5.48464 2.30955 4.90156 3.08862 4.90156 4.00157C4.90156 4.91452 5.48464 5.6936 6.30148 5.98231C6.77013 6.14795 7.01576 6.66214 6.85012 7.13079C6.68448 7.59943 6.17029 7.84506 5.70164 7.67942C4.1881 7.14446 3.10156 5.70106 3.10156 4.00157C3.10156 2.30208 4.1881 0.85868 5.70164 0.323722C6.17029 0.15808 6.68448 0.403712 6.85012 0.872356ZM17.153 0.872356C17.3186 0.403712 17.8328 0.15808 18.3015 0.323722C19.815 0.85868 20.9016 2.30208 20.9016 4.00157C20.9016 5.70106 19.815 7.14446 18.3015 7.67942C17.8328 7.84506 17.3186 7.59943 17.153 7.13079C16.9874 6.66214 17.233 6.14795 17.7016 5.98231C18.5185 5.6936 19.1016 4.91452 19.1016 4.00157C19.1016 3.08862 18.5185 2.30955 17.7016 2.02083C17.233 1.85519 16.9874 1.341 17.153 0.872356ZM5.10156 14.0016C5.10156 11.2954 7.29537 9.10156 10.0016 9.10156H14.0016C16.7078 9.10156 18.9016 11.2954 18.9016 14.0016V15.0016C18.9016 15.4986 18.4986 15.9016 18.0016 15.9016H6.00156C5.50451 15.9016 5.10156 15.4986 5.10156 15.0016V14.0016ZM10.0016 10.9016C8.28948 10.9016 6.90156 12.2895 6.90156 14.0016V14.1016H17.1016V14.0016C17.1016 12.2895 15.7136 10.9016 14.0016 10.9016H10.0016ZM4.87316 9.90324C4.99705 10.3846 4.70726 10.8753 4.22589 10.9992C2.88865 11.3433 1.90156 12.5583 1.90156 14.0016V14.1016H3.00156C3.49862 14.1016 3.90156 14.5045 3.90156 15.0016C3.90156 15.4986 3.49862 15.9016 3.00156 15.9016H1.00156C0.504506 15.9016 0.101562 15.4986 0.101562 15.0016V14.0016C0.101562 11.7171 1.66402 9.79988 3.77723 9.25598C4.2586 9.13208 4.74926 9.42187 4.87316 9.90324ZM19.13 9.90324C19.2539 9.42187 19.7445 9.13208 20.2259 9.25598C22.3391 9.79988 23.9016 11.7171 23.9016 14.0016V15.0016C23.9016 15.4986 23.4986 15.9016 23.0016 15.9016H21.0016C20.5045 15.9016 20.1016 15.4986 20.1016 15.0016C20.1016 14.5045 20.5045 14.1016 21.0016 14.1016H22.1016V14.0016C22.1016 12.5583 21.1145 11.3433 19.7772 10.9992C19.2959 10.8753 19.0061 10.3846 19.13 9.90324Z'
        ,
    ),
    radio-on: (
        size-w: 20,
        size-h: 20,
        path:
        'M10.0016 1.90156C5.52806 1.90156 1.90156 5.52806 1.90156 10.0016C1.90156 14.4751 5.52806 18.1016 10.0016 18.1016C14.4751 18.1016 18.1016 14.4751 18.1016 10.0016C18.1016 5.52806 14.4751 1.90156 10.0016 1.90156ZM0.101562 10.0016C0.101562 4.53394 4.53394 0.101562 10.0016 0.101562C15.4692 0.101562 19.9016 4.53394 19.9016 10.0016C19.9016 15.4692 15.4692 19.9016 10.0016 19.9016C4.53394 19.9016 0.101562 15.4692 0.101562 10.0016Z'
        ,
    ),
    radio-off: (
        size-w: 20,
        size-h: 20,
        path:
        'M1.90234 10C1.90234 5.53125 5.52734 1.89844 10 1.89844C14.4766 1.89844 18.1016 5.53125 18.1016 10C18.1016 14.4766 14.4766 18.1016 10 18.1016C5.52734 18.1016 1.90234 14.4766 1.90234 10ZM10 0.101562C4.53516 0.101562 0.101562 4.53125 0.101562 10C0.101562 15.4688 4.53516 19.8984 10 19.8984C15.4688 19.8984 19.9023 15.4688 19.9023 10C19.9023 4.53125 15.4688 0.101562 10 0.101562ZM10 15C12.7617 15 15 12.7578 15 10C15 8.51562 14.3555 7.1875 13.3281 6.27344C12.4453 5.48438 11.2773 5 10 5C7.23828 5 5 7.24219 5 10C5 11.3359 5.52734 12.5547 6.38281 13.4531C7.29297 14.4062 8.57812 15 10 15Z'
        ,
    ),
    info: (
        size-w: 20,
        size-h: 20,
        path:
        'M1.8 9.9C1.8 5.42649 5.42649 1.8 9.9 1.8C14.3735 1.8 18 5.42649 18 9.9C18 14.3735 14.3735 18 9.9 18C5.42649 18 1.8 14.3735 1.8 9.9ZM9.9 0C4.43238 0 0 4.43238 0 9.9C0 15.3676 4.43238 19.8 9.9 19.8C15.3676 19.8 19.8 15.3676 19.8 9.9C19.8 4.43238 15.3676 0 9.9 0ZM9 6.1C9 6.59706 9.40294 7 9.9 7C10.3971 7 10.8 6.59706 10.8 6.1V5.9C10.8 5.40294 10.3971 5 9.9 5C9.40294 5 9 5.40294 9 5.9V6.1ZM10.8001 9C10.8001 8.50294 10.3972 8.1 9.9001 8.1C9.40304 8.1 9.0001 8.50294 9.0001 9V14.5C9.0001 14.9971 9.40304 15.4 9.9001 15.4C10.3972 15.4 10.8001 14.9971 10.8001 14.5V9Z'
        ,
    ),
    refresh: (
        size-w: 22,
        size-h: 18,
        path:
        'M4.80334 8.99766C4.80334 5.01819 8.02934 1.79219 12.0088 1.79219C15.9883 1.79219 19.2143 5.01819 19.2143 8.99766C19.2143 12.9771 15.9883 16.2031 12.0088 16.2031C10.0747 16.2031 8.32019 15.4423 7.02514 14.2017C6.6662 13.8578 6.09649 13.8701 5.75264 14.229C5.4088 14.588 5.42104 15.1577 5.77997 15.5015C7.39665 17.0502 9.59239 18.0031 12.0088 18.0031C16.9824 18.0031 21.0143 13.9712 21.0143 8.99766C21.0143 4.02407 16.9824 -0.0078125 12.0088 -0.0078125C7.03522 -0.0078125 3.00334 4.02407 3.00334 8.99766C3.00334 9.24872 3.01364 9.49754 3.03385 9.74369L1.50728 8.34566C1.14072 8.00995 0.571419 8.03498 0.235718 8.40154C-0.099983 8.76811 -0.0749625 9.3374 0.291603 9.67311L3.79744 12.8838L7.30328 9.67311C7.66985 9.3374 7.69487 8.76811 7.35917 8.40154C7.02347 8.03498 6.45417 8.00995 6.0876 8.34566L4.82094 9.50567C4.80928 9.33795 4.80334 9.16855 4.80334 8.99766Z'
        ,
    ),
    restore: (
        size-w: 22,
        size-h: 18,
        path:
        'M12.0088 1.8C8.02934 1.8 4.80334 5.026 4.80334 9.00547C4.80334 9.17636 4.80928 9.34576 4.82094 9.51348L6.0876 8.35347C6.45417 8.01777 7.02347 8.04279 7.35917 8.40935C7.69487 8.77592 7.66985 9.34522 7.30328 9.68092L3.79744 12.8916L0.291603 9.68092C-0.0749625 9.34522 -0.099983 8.77592 0.235718 8.40935C0.571419 8.04279 1.14072 8.01777 1.50728 8.35347L3.03385 9.7515C3.01364 9.50535 3.00334 9.25654 3.00334 9.00547C3.00334 4.03189 7.03522 0 12.0088 0C16.9824 0 21.0143 4.03189 21.0143 9.00547C21.0143 13.9791 16.9824 18.0109 12.0088 18.0109C9.59239 18.0109 7.39665 17.058 5.77997 15.5093C5.42104 15.1655 5.4088 14.5958 5.75264 14.2368C6.09649 13.8779 6.6662 13.8657 7.02514 14.2095C8.32019 15.4501 10.0747 16.2109 12.0088 16.2109C15.9883 16.2109 19.2143 12.9849 19.2143 9.00547C19.2143 5.026 15.9883 1.8 12.0088 1.8ZM12.6237 5.95469C12.6237 5.45763 12.2207 5.05469 11.7237 5.05469C11.2266 5.05469 10.8237 5.45763 10.8237 5.95469V9.81692L14.5889 12.1811C15.0099 12.4455 15.5654 12.3185 15.8297 11.8975C16.094 11.4766 15.9671 10.9211 15.5461 10.6567L12.6237 8.82173V5.95469Z'
        ,
    ),
    filter: (
        size-w: 18,
        size-h: 18,
        path:
        'M5 4.2C5.66274 4.2 6.2 3.66274 6.2 3C6.2 2.33726 5.66274 1.8 5 1.8C4.33726 1.8 3.8 2.33726 3.8 3C3.8 3.66274 4.33726 4.2 5 4.2ZM7.86704 3.88594C7.48913 5.11033 6.34846 6 5 6C3.65154 6 2.51087 5.11033 2.13296 3.88594H1.00156C0.504507 3.88594 0.101562 3.48299 0.101562 2.98594C0.101562 2.48888 0.504507 2.08594 1.00156 2.08594H2.1418C2.52839 0.876074 3.66189 0 5 0C6.33811 0 7.47161 0.876074 7.8582 2.08594L17.0016 2.08594C17.4986 2.08594 17.9016 2.48888 17.9016 2.98594C17.9016 3.48299 17.4986 3.88594 17.0016 3.88594L7.86704 3.88594ZM5 16.2C5.66274 16.2 6.2 15.6627 6.2 15C6.2 14.3373 5.66274 13.8 5 13.8C4.33726 13.8 3.8 14.3373 3.8 15C3.8 15.6627 4.33726 16.2 5 16.2ZM7.86704 15.8859C7.48912 17.1103 6.34846 18 5 18C3.65154 18 2.51088 17.1103 2.13296 15.8859L1.00156 15.8859C0.504507 15.8859 0.101562 15.483 0.101562 14.9859C0.101562 14.4889 0.504507 14.0859 1.00156 14.0859H2.1418C2.52839 12.8761 3.66189 12 5 12C6.33811 12 7.47161 12.8761 7.8582 14.0859H17.0016C17.4986 14.0859 17.9016 14.4889 17.9016 14.9859C17.9016 15.483 17.4986 15.8859 17.0016 15.8859L7.86704 15.8859ZM11.8 9C11.8 9.66274 12.3373 10.2 13 10.2C13.6627 10.2 14.2 9.66274 14.2 9C14.2 8.33726 13.6627 7.8 13 7.8C12.3373 7.8 11.8 8.33726 11.8 9ZM10.133 9.88594C10.5109 11.1103 11.6515 12 13 12C14.3485 12 15.4891 11.1103 15.867 9.88594L17.0016 9.88594C17.4986 9.88594 17.9016 9.48299 17.9016 8.98594C17.9016 8.48888 17.4986 8.08594 17.0016 8.08594H15.8582C15.4716 6.87607 14.3381 6 13 6C11.6619 6 10.5284 6.87607 10.1418 8.08594H1.00156C0.504506 8.08594 0.101562 8.48888 0.101562 8.98594C0.101562 9.48299 0.504506 9.88594 1.00156 9.88594L10.133 9.88594Z'
        ,
    ),
    calendar: (
        size-w: 18,
        size-h: 20,
        path:
        'M6.00156 0.101562C6.49862 0.101562 6.90156 0.504506 6.90156 1.00156V2.10156H11.1016V1.00156C11.1016 0.504506 11.5045 0.101562 12.0016 0.101562C12.4986 0.101562 12.9016 0.504506 12.9016 1.00156V2.10156H15.0016C16.6032 2.10156 17.9016 3.39994 17.9016 5.00156V17.0016C17.9016 18.6032 16.6032 19.9016 15.0016 19.9016H3.00156C1.39994 19.9016 0.101562 18.6032 0.101562 17.0016V5.00156C0.101562 3.39994 1.39994 2.10156 3.00156 2.10156H5.10156V1.00156C5.10156 0.504506 5.50451 0.101562 6.00156 0.101562ZM3.00156 3.90156C2.39405 3.90156 1.90156 4.39405 1.90156 5.00156V8.10156H16.1016V5.00156C16.1016 4.39405 15.6091 3.90156 15.0016 3.90156H3.00156ZM16.1016 9.90156H1.90156V17.0016C1.90156 17.6091 2.39405 18.1016 3.00156 18.1016H15.0016C15.6091 18.1016 16.1016 17.6091 16.1016 17.0016V9.90156Z'
        ,
    ),
    check: (
        size-w: 16,
        size-h: 12,
        path:
        'M15.638 0.365166C15.9894 0.716638 15.9894 1.28649 15.638 1.63796L5.99151 11.2844C5.44478 11.8311 4.55835 11.8311 4.01161 11.2844L0.365166 7.63796C0.0136946 7.28649 0.0136945 6.71664 0.365166 6.36517C0.716638 6.01369 1.28649 6.01369 1.63796 6.36517L5.00156 9.72877L14.3652 0.365166C14.7166 0.0136945 15.2865 0.0136945 15.638 0.365166Z'
        ,
    ),
    warning: (
        size-w: 22,
        size-h: 19,
        path:
        'M14.2955 1.81938C12.765 -0.603852 9.23116 -0.60386 7.70069 1.81938L1.14367 12.2013C-0.496469 14.7982 1.36961 18.1839 4.44108 18.1839H17.5551C20.6266 18.1839 22.4927 14.7982 20.8525 12.2013L14.2955 1.81938ZM9.22257 2.78057C10.0467 1.47575 11.9495 1.47575 12.7736 2.78057L19.3306 13.1625C20.2138 14.5608 19.209 16.3839 17.5551 16.3839H4.44108C2.78721 16.3839 1.7824 14.5608 2.66555 13.1625L9.22257 2.78057ZM10.0973 10.102C10.0973 10.599 10.5002 11.002 10.9973 11.002C11.4943 11.002 11.8973 10.599 11.8973 10.102V5.90195C11.8973 5.4049 11.4943 5.00195 10.9973 5.00195C10.5002 5.00195 10.0973 5.4049 10.0973 5.90195V10.102ZM10.0973 13.1019C10.0973 13.599 10.5002 14.0019 10.9973 14.0019C11.4943 14.0019 11.8973 13.599 11.8973 13.1019V12.9019C11.8973 12.4049 11.4943 12.0019 10.9973 12.0019C10.5002 12.0019 10.0973 12.4049 10.0973 12.9019V13.1019Z'
        ,
    ),
    share: (
        size-w: 18,
        size-h: 20,
        path:
        'M16.2 3.49805C16.2 4.43585 15.4398 5.19609 14.502 5.19609C13.5641 5.19609 12.8039 4.43585 12.8039 3.49805C12.8039 2.56024 13.5641 1.8 14.502 1.8C15.4398 1.8 16.2 2.56024 16.2 3.49805ZM18 3.49805C18 5.42997 16.4339 6.99609 14.502 6.99609C13.6096 6.99609 12.7954 6.66199 12.1774 6.11207L6.89504 9.16185C6.96107 9.43038 6.99609 9.7111 6.99609 10C6.99609 10.326 6.95149 10.6416 6.86806 10.9411L12.0966 13.9597C12.7235 13.3663 13.5699 13.0024 14.5012 13.0024C16.4335 13.0024 18 14.5689 18 16.5012C18 18.4335 16.4335 20 14.5012 20C12.5689 20 11.0024 18.4335 11.0024 16.5012C11.0024 16.1503 11.0541 15.8114 11.1502 15.4918L5.95344 12.4915C5.3219 13.1139 4.45483 13.498 3.49805 13.498C1.56613 13.498 0 11.9319 0 10C0 8.06808 1.56613 6.50195 3.49805 6.50195C4.49296 6.50195 5.39087 6.91731 6.02781 7.58408L11.1835 4.60745C11.067 4.25886 11.0039 3.88582 11.0039 3.49805C11.0039 1.56613 12.57 0 14.502 0C16.4339 0 18 1.56613 18 3.49805ZM3.49805 11.698C4.43585 11.698 5.19609 10.9378 5.19609 10C5.19609 9.06219 4.43585 8.30195 3.49805 8.30195C2.56024 8.30195 1.8 9.06219 1.8 10C1.8 10.9378 2.56024 11.698 3.49805 11.698ZM14.5012 18.2C15.4394 18.2 16.2 17.4394 16.2 16.5012C16.2 15.563 15.4394 14.8024 14.5012 14.8024C13.563 14.8024 12.8024 15.563 12.8024 16.5012C12.8024 17.4394 13.563 18.2 14.5012 18.2Z'
        ,
    ),
    search: (
        size-w: 19,
        size-h: 19,
        path:
        'M15.2 8.5C15.2 12.2003 12.2003 15.2 8.5 15.2C4.79969 15.2 1.8 12.2003 1.8 8.5C1.8 4.79969 4.79969 1.8 8.5 1.8C12.2003 1.8 15.2 4.79969 15.2 8.5ZM13.6346 15.2745C12.2081 16.3574 10.4291 17 8.5 17C3.80558 17 0 13.1944 0 8.5C0 3.80558 3.80558 0 8.5 0C13.1944 0 17 3.80558 17 8.5C17 10.6167 16.2263 12.5527 14.9462 14.0406L18.2728 17.3672C18.6243 17.7187 18.6243 18.2885 18.2728 18.64C17.9213 18.9914 17.3515 18.9914 17 18.64L13.6346 15.2745Z'
        ,
    ),
    folder: (
        size-w: 20,
        size-h: 17,
        path:
        'M10 4.8C9.55532 4.8 9.12639 4.6354 8.79586 4.33793L6.03299 1.85134C5.99626 1.81829 5.9486 1.8 5.8992 1.8H2C1.88954 1.8 1.8 1.88954 1.8 2V15C1.8 15.1105 1.88954 15.2 2 15.2H18C18.1105 15.2 18.2 15.1105 18.2 15V5C18.2 4.88954 18.1105 4.8 18 4.8H10ZM10 3L7.23712 0.513412C6.86987 0.182887 6.39328 0 5.8992 0H2C0.895431 0 0 0.89543 0 2V15C0 16.1046 0.895431 17 2 17H18C19.1046 17 20 16.1046 20 15V5C20 3.89543 19.1046 3 18 3H10Z'
        ,
    ),
    copy: (
        size-w: 20,
        size-h: 19,
        path:
        'M2 1.8H13C13.1105 1.8 13.2 1.88954 13.2 2V13C13.2 13.1105 13.1105 13.2 13 13.2H2C1.88954 13.2 1.8 13.1105 1.8 13V2C1.8 1.88954 1.88954 1.8 2 1.8ZM0 2C0 0.89543 0.895431 0 2 0H13C14.1046 0 15 0.895431 15 2V4H18C19.1046 4 20 4.89543 20 6V17C20 18.1046 19.1046 19 18 19H7C5.89543 19 5 18.1046 5 17V15H2C0.89543 15 0 14.1046 0 13V2ZM6.8 15V17C6.8 17.1105 6.88954 17.2 7 17.2H18C18.1105 17.2 18.2 17.1105 18.2 17V6C18.2 5.88954 18.1105 5.8 18 5.8H15V13C15 14.1046 14.1046 15 13 15H6.8Z'
        ,
    ),
    home: (
        size-w: 20,
        size-h: 19,
        path:
        'M1.80005 16.9665L1.8 8.43528C1.8 8.06462 1.97128 7.71477 2.26404 7.48745L9.26393 2.05218C9.69697 1.71594 10.3028 1.71594 10.7359 2.05218L17.7357 7.48745C18.029 7.71516 18.1997 8.06428 18.1997 8.43429V16.9689C18.1997 17.0766 18.113 17.1665 17.9997 17.1665H11.5V12.9531C11.5 12.2628 10.9404 11.7031 10.25 11.7031C9.55964 11.7031 9 12.2628 9 12.9531V17.1665H2.00005C1.8896 17.1665 1.80005 17.077 1.80005 16.9665ZM0 8.43529L5.24605e-05 16.9665C5.92527e-05 18.0711 0.895488 18.9665 2.00005 18.9665H17.9997C19.1043 18.9665 19.9997 18.0735 19.9997 16.9689V8.43429C19.9997 7.50767 19.5715 6.63403 18.8397 6.06572L11.8398 0.630457C10.7572 -0.210151 9.24258 -0.210152 8.15999 0.630452L1.1601 6.06572C0.428198 6.63402 -5.69799e-06 7.50866 0 8.43529Z'
        ,
    ),
    location: (
        size-w: 20,
        size-h: 22,
        path:
        'M9.99983 1.90156C5.58768 1.90156 2.01094 5.47831 2.01094 9.89045C2.01094 14.1618 5.40878 17.8233 9.99983 20.0093C14.5909 17.8233 17.9887 14.1618 17.9887 9.89045C17.9887 5.47831 14.412 1.90156 9.99983 1.90156ZM0.210938 9.89045C0.210938 4.4842 4.59357 0.101562 9.99983 0.101562C15.4061 0.101562 19.7887 4.4842 19.7887 9.89045C19.7887 15.3231 15.4115 19.5398 10.371 21.8215C10.1351 21.9283 9.86459 21.9283 9.62868 21.8215C4.58816 19.5398 0.210938 15.3231 0.210938 9.89045ZM9.99983 7.45712C8.65593 7.45712 7.56649 8.54656 7.56649 9.89045C7.56649 11.2343 8.65593 12.3238 9.99983 12.3238C11.3437 12.3238 12.4332 11.2343 12.4332 9.89045C12.4332 8.54656 11.3437 7.45712 9.99983 7.45712ZM5.76649 9.89045C5.76649 7.55245 7.66182 5.65712 9.99983 5.65712C12.3378 5.65712 14.2332 7.55245 14.2332 9.89045C14.2332 12.2285 12.3378 14.1238 9.99983 14.1238C7.66182 14.1238 5.76649 12.2285 5.76649 9.89045Z'
        ,
    ),
    printer: (
        size-w: 22,
        size-h: 22,
        path:
        'M11.0549 0.250001H10.9451C9.57754 0.24998 8.47522 0.249963 7.60825 0.366524C6.70814 0.48754 5.95027 0.746434 5.34835 1.34835C4.60837 2.08833 4.37952 3.07517 4.29879 4.29943C4.05377 4.31578 3.82374 4.33755 3.60825 4.36652C2.70814 4.48754 1.95027 4.74643 1.34835 5.34835C0.746434 5.95027 0.48754 6.70814 0.366524 7.60825C0.249963 8.47522 0.24998 9.57754 0.250001 10.9451V11.0549C0.24998 12.4225 0.249963 13.5248 0.366524 14.3918C0.48754 15.2919 0.746434 16.0497 1.34835 16.6517C2.08833 17.3916 3.07517 17.6205 4.29942 17.7012C4.31578 17.9462 4.33755 18.1763 4.36652 18.3918C4.48754 19.2919 4.74643 20.0497 5.34835 20.6517C5.95027 21.2536 6.70814 21.5125 7.60825 21.6335C8.47522 21.75 9.57754 21.75 10.9451 21.75H11.0549C12.4225 21.75 13.5248 21.75 14.3918 21.6335C15.2919 21.5125 16.0497 21.2536 16.6517 20.6517C17.2536 20.0497 17.5125 19.2919 17.6335 18.3918C17.6625 18.1763 17.6842 17.9462 17.7006 17.7012C18.9248 17.6205 19.9117 17.3916 20.6517 16.6517C21.2536 16.0497 21.5125 15.2919 21.6335 14.3918C21.75 13.5248 21.75 12.4225 21.75 11.0549V10.9451C21.75 9.57754 21.75 8.47522 21.6335 7.60825C21.5125 6.70814 21.2536 5.95027 20.6517 5.34835C20.0497 4.74643 19.2919 4.48754 18.3918 4.36652C18.1763 4.33755 17.9462 4.31578 17.7012 4.29943C17.6205 3.07517 17.3916 2.08833 16.6517 1.34835C16.0497 0.746434 15.2919 0.48754 14.3918 0.366524C13.5248 0.249963 12.4225 0.24998 11.0549 0.250001ZM6.94512 4.25C6.54313 4.24999 6.16406 4.24999 5.80714 4.25295C5.88909 3.23209 6.0735 2.74452 6.40901 2.40901C6.68577 2.13225 7.07434 1.9518 7.80812 1.85315C8.56347 1.75159 9.56458 1.75 11 1.75C12.4354 1.75 13.4365 1.75159 14.1919 1.85315C14.9257 1.9518 15.3142 2.13225 15.591 2.40901C15.9265 2.74452 16.1109 3.23209 16.1929 4.25295C15.8359 4.24999 15.4569 4.24999 15.0549 4.25H6.94512ZM4.25 15.0549C4.24999 15.4569 4.24999 15.8359 4.25294 16.1929C3.23209 16.1109 2.74452 15.9265 2.40901 15.591C2.13225 15.3142 1.9518 14.9257 1.85315 14.1919C1.75159 13.4365 1.75 12.4354 1.75 11C1.75 9.56458 1.75159 8.56347 1.85315 7.80812C1.9518 7.07435 2.13225 6.68577 2.40901 6.40901C2.68577 6.13225 3.07435 5.9518 3.80812 5.85315C4.56347 5.75159 5.56458 5.75 7 5.75H15C16.4354 5.75 17.4365 5.75159 18.1919 5.85315C18.9257 5.9518 19.3142 6.13225 19.591 6.40901C19.8678 6.68577 20.0482 7.07435 20.1469 7.80812C20.2484 8.56347 20.25 9.56458 20.25 11C20.25 12.4354 20.2484 13.4365 20.1469 14.1919C20.0482 14.9257 19.8678 15.3142 19.591 15.591C19.2555 15.9265 18.7679 16.1109 17.7471 16.1929C17.75 15.8359 17.75 15.4569 17.75 15.0549V14.75H18C18.4142 14.75 18.75 14.4142 18.75 14C18.75 13.5858 18.4142 13.25 18 13.25H4C3.58579 13.25 3.25 13.5858 3.25 14C3.25 14.4142 3.58579 14.75 4 14.75H4.25V15.0549ZM5.75 15V14.75H16.25V15C16.25 16.4354 16.2484 17.4365 16.1469 18.1919C16.0482 18.9257 15.8678 19.3142 15.591 19.591C15.3142 19.8678 14.9257 20.0482 14.1919 20.1469C13.4365 20.2484 12.4354 20.25 11 20.25C9.56458 20.25 8.56347 20.2484 7.80812 20.1469C7.07435 20.0482 6.68577 19.8678 6.40901 19.591C6.13225 19.3142 5.9518 18.9257 5.85315 18.1919C5.75159 17.4365 5.75 16.4354 5.75 15ZM5 8.25C4.58579 8.25 4.25 8.58579 4.25 9C4.25 9.41421 4.58579 9.75 5 9.75H8C8.41421 9.75 8.75 9.41421 8.75 9C8.75 8.58579 8.41421 8.25 8 8.25H5ZM16 10C16.5523 10 17 9.55229 17 9C17 8.44772 16.5523 8 16 8C15.4477 8 15 8.44772 15 9C15 9.55229 15.4477 10 16 10Z'
        ,
    ),
    price: (
        size-w: 19,
        size-h: 19,
        path:
        'M10.0589 17.0134L2.52081 9.51671C2.48307 9.47918 2.46185 9.42816 2.46184 9.37494L2.46034 2.68282L9.53354 2.68281C9.59088 2.68281 9.63659 2.70348 9.67061 2.7372C11.0722 4.1264 14.7007 7.72381 17.1379 10.1499C17.2134 10.2252 17.2154 10.3502 17.1339 10.4293L10.3391 17.0152C10.2609 17.0911 10.1362 17.0903 10.0589 17.0134ZM1.25152 10.793L8.78963 18.2897C9.56268 19.0585 10.8091 19.0665 11.5919 18.3077L18.3867 11.7217C19.1886 10.9445 19.1992 9.66213 18.4077 8.87425C15.969 6.44655 12.3392 2.84782 10.9377 1.45876C10.5633 1.08762 10.0608 0.882811 9.53354 0.882813L1.66016 0.882818C1.10778 0.882819 0.660032 1.33067 0.660156 1.88304L0.661839 9.37535C0.661959 9.90753 0.874178 10.4177 1.25152 10.793ZM7.24987 6.00781C6.55959 6.00781 6 6.56739 6 7.25768C6 7.94796 6.55959 8.50754 7.24987 8.50754C7.94015 8.50754 8.49974 7.94796 8.49974 7.25768C8.49974 6.56739 7.94015 6.00781 7.24987 6.00781Z'
        ,
    ),
    category: (
        size-w: 21,
        size-h: 18,
        path:
        'M18.2031 6.8125C18.2031 9.57812 15.957 11.8203 13.1914 11.8203C10.4219 11.8203 8.17969 9.57812 8.17969 6.8125C8.17969 4.04688 10.4219 1.79688 13.1914 1.79688C15.957 1.79688 18.2031 4.04688 18.2031 6.8125ZM15.8086 13.1016C15.0039 13.4375 14.1211 13.625 13.1914 13.625C10.9648 13.625 8.98438 12.5547 7.74219 10.8984H1.75781C1.26172 10.8984 0.859375 10.5 0.859375 10C0.859375 9.5 1.26172 9.10156 1.75781 9.10156H6.77344C6.51953 8.38281 6.37891 7.61719 6.37891 6.8125C6.37891 6.14844 6.47656 5.50781 6.65234 4.89844H1.75781C1.26172 4.89844 0.859375 4.5 0.859375 4C0.859375 3.5 1.26172 3.10156 1.75781 3.10156H7.50391C8.71875 1.23438 10.7969 0 13.1914 0C16.9531 0 20 3.04688 20 6.8125C20 9 18.9688 10.9453 17.3672 12.1953L19.9531 16.3359C20.2188 16.7578 20.0898 17.3125 19.668 17.5781C19.5742 17.6406 19.4727 17.6797 19.3672 17.6953C19.0117 17.7656 18.6328 17.6172 18.4297 17.2891L15.8086 13.1016ZM1.75781 15.1016C1.26172 15.1016 0.859375 15.5 0.859375 16C0.859375 16.5 1.26172 16.8984 1.75781 16.8984H12.2461C12.7461 16.8984 13.1484 16.5 13.1484 16C13.1484 15.5 12.7461 15.1016 12.2461 15.1016H1.75781Z'
        ,
    ),
    my-page: (
        size-w: 20,
        size-h: 19,
        path:
        'M13.4486 5.25C13.4486 7.15625 11.9057 8.70312 9.99943 8.70312C8.09318 8.70312 6.54631 7.15625 6.54631 5.25C6.54631 3.34375 8.09318 1.79688 9.99943 1.79688C11.9057 1.79688 13.4486 3.34375 13.4486 5.25ZM13.1401 9.45312C14.4213 8.49219 15.2494 6.96875 15.2494 5.25C15.2494 3.91406 14.7494 2.69531 13.9252 1.76562C12.9643 0.679688 11.5619 0 9.99943 0C7.09709 0 4.74552 2.35156 4.74552 5.25C4.74552 6.96875 5.57365 8.49219 6.8549 9.45312C3.56193 10.4141 1.27287 12.8906 0.397868 16.0391C-0.0513504 17.6328 1.33927 19 2.99943 19H16.9994C18.6557 19 20.0463 17.6328 19.601 16.0391C18.7221 12.8906 16.4291 10.4141 13.1401 9.45312ZM2.12834 16.5234C3.05021 13.2266 5.84318 10.8203 9.99943 10.8203C14.1518 10.8203 16.9447 13.2344 17.8666 16.5234C17.8901 16.6094 17.8861 16.6719 17.8744 16.7109C17.8627 16.7578 17.8315 16.8203 17.7651 16.8984C17.7065 16.9609 17.6322 17.0156 17.5424 17.0703C17.394 17.1484 17.2104 17.2031 16.9994 17.2031H2.99943C2.65568 17.2031 2.37834 17.0547 2.23381 16.8984C2.16349 16.8203 2.13224 16.7578 2.12052 16.7109C2.10881 16.6719 2.1049 16.6094 2.12834 16.5234Z'
        ,
    ),
    play: (
        size-w: 16,
        size-h: 18,
        path:
        'M15 7.26945C16.3333 8.03925 16.3333 9.96375 15 10.7336L3 17.6618C1.66667 18.4316 -6.72981e-08 17.4693 0 15.9297L6.0568e-07 2.0733C6.72978e-07 0.533696 1.66667 -0.428555 3 0.341246L15 7.26945Z'
        ,
    ),
    volume: (
        size-w: 25,
        size-h: 28,
        path:
        'M16.7109 2C16.7109 1.17157 17.3825 0.5 18.2109 0.5C19.0394 0.5 19.7109 1.17157 19.7109 2V26C19.7109 26.8284 19.0394 27.5 18.2109 27.5C17.3825 27.5 16.7109 26.8284 16.7109 26V2ZM12.9609 7.25C12.1325 7.25 11.4609 7.92157 11.4609 8.75V26C11.4609 26.8284 12.1325 27.5 12.9609 27.5C13.7894 27.5 14.4609 26.8284 14.4609 26V8.75C14.4609 7.92157 13.7894 7.25 12.9609 7.25ZM0.960938 17.75C0.960938 16.9216 1.63251 16.25 2.46094 16.25C3.28936 16.25 3.96094 16.9216 3.96094 17.75V26C3.96094 26.8284 3.28936 27.5 2.46094 27.5C1.63251 27.5 0.960938 26.8284 0.960938 26V17.75ZM6.21094 20C6.21094 19.1716 6.88251 18.5 7.71094 18.5C8.53936 18.5 9.21094 19.1716 9.21094 20V26C9.21094 26.8284 8.53936 27.5 7.71094 27.5C6.88251 27.5 6.21094 26.8284 6.21094 26V20ZM23.4609 9.5C22.6325 9.5 21.9609 10.1716 21.9609 11V26C21.9609 26.8284 22.6325 27.5 23.4609 27.5C24.2894 27.5 24.9609 26.8284 24.9609 26V11C24.9609 10.1716 24.2894 9.5 23.4609 9.5Z'
        ,
    )
);

@function icon($name, $color) {
    $size-w: map-get($icon, $name, 'size-w');
    $size-h: map-get($icon, $name, 'size-h');
    $path: map-get($icon, $name, 'path');
    $data: "data:image/svg+xml,%0A%3Csvg width='#{$size-w}' height='#{$size-h}' viewBox='0 0 #{$size-w} #{$size-h}' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='#{$path}' fill='rgb(" +
        red($color) + ',' + green($color) + ',' + blue($color) + ")'/%3E%3C/svg%3E%0A";
    @return url($data);
}