<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
<script>
document.addEventListener('DOMContentLoaded', () => {
	Accordion();
})
</script>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Accoridion</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section accordion-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">accordion display</span></h4>
						<p class="section-desc">아코디언의 <span class="accent case4">열림 > 닫힘</span> 기능은 accordion-display 에 collapse 클래스를 추가 하면 됩니다. <span class="accent case4">닫힘 > 열림</span> 기능은 collapse 클래스를 제거합니다.<br> 접근성을 위해 <span class="accent case4">aria-label</span> 을 사용하여 현재 아코디언의 상태(열림, 닫힘)를 정의하고,<br> 아코디언 head의 <span class="accent case4">aria-controls</span>과 아코디언 body의 id를 같은 값으로 연결하여 어떤 요소에 대한 컨트롤인지 참조합니다.</p>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">열림 → 닫힘</div>
							<div class="subsection-body">
<!-- highlight-js -->
<pre class="highlight-js"><code class="html">&lt;div class=&quot;accordion-display collapse design1 case1 type1&quot;&gt;
	&lt;div class=&quot;accordion-list&quot;&gt;
		&lt;div class=&quot;accordion-item&quot;&gt;
			&lt;div class=&quot;accordion-head&quot;&gt;
				&lt;button type=&quot;button&quot; class=&quot;btn&quot; aria-label=&quot;열림&quot; aria-controls=&quot;accordionCont1&quot;&gt;
					&lt;span class=&quot;btn-text&quot;&gt;Accordion Component&lt;/span&gt;
				&lt;/button&gt;
			&lt;/div&gt;
			&lt;div class=&quot;accordion-body&quot; id=&quot;accordionCont1&quot;&gt;
				&lt;div class=&quot;accordion-inner&quot;&gt;
					...
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;accordion-item&quot;&gt;
			&lt;div class=&quot;accordion-head&quot;&gt;
				&lt;button type=&quot;button&quot; class=&quot;btn&quot; aria-label=&quot;열림&quot; aria-controls=&quot;accordionCont2&quot;&gt;
					&lt;span class=&quot;btn-text&quot;&gt;Accordion Component&lt;/span&gt;
				&lt;/button&gt;
			&lt;/div&gt;
			&lt;div class=&quot;accordion-body&quot; id=&quot;accordionCont2&quot;&gt;
				&lt;div class=&quot;accordion-inner&quot;&gt;
					...
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
<!-- //highlight-js -->
                                <div class="guide-accordion-area">
									<!-- accordion-display -->
                                    <div class="accordion-display collapse design1 case1 type1">
										<div class="accordion-list">
											<div class="accordion-item">
												<div class="accordion-wrap">
													<div class="accordion-head">
														<button type="button" class="btn" aria-label="열림" aria-controls="accordionCont1"><span class="btn-text">accordionCont1 (열림상태)</span></button>
													</div>
													<div class="accordion-body" id="accordionCont1">
														accordionCont1 body. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Dignissimos, suscipit neque error doloribus quia impedit exercitationem sapiente voluptates nemo totam.
													</div>
												</div>
											</div>
											<div class="accordion-item">
												<div class="accordion-wrap">
													<div class="accordion-head">
														<button type="button" class="btn" aria-label="열림" aria-controls="accordionCont2"><span class="btn-text">accordionCont2 (열림상태)</span></button>
													</div>
													<div class="accordion-body" id="accordionCont2">
														accordionCont2 body. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Dignissimos, suscipit neque error doloribus quia impedit exercitationem sapiente voluptates nemo totam.
													</div>
												</div>
											</div>
										</div>
                                    </div>
									<!-- //accordion-display -->
                                </div>
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">닫힘 → 열림</div>
							<div class="subsection-body">
<!-- highlight-js -->
<pre class="highlight-js"><code class="html">&lt;div class=&quot;accordion-display design1 case1 type1&quot;&gt;
	&lt;div class=&quot;accordion-list&quot;&gt;
		&lt;div class=&quot;accordion-item&quot;&gt;
			&lt;div class=&quot;accordion-head&quot;&gt;
				&lt;button type=&quot;button&quot; class=&quot;btn&quot; aria-label=&quot;닫힘&quot; aria-controls=&quot;accordionCont3&quot;&gt;
					&lt;span class=&quot;btn-text&quot;&gt;Accordion Component&lt;/span&gt;
				&lt;/button&gt;
			&lt;/div&gt;
			&lt;div class=&quot;accordion-body&quot; id=&quot;accordionCont3&quot;&gt;
				&lt;div class=&quot;accordion-inner&quot;&gt;
					...
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;accordion-item&quot;&gt;
			&lt;div class=&quot;accordion-head&quot;&gt;
				&lt;button type=&quot;button&quot; class=&quot;btn&quot; aria-label=&quot;닫힘&quot; aria-controls=&quot;accordionCont4&quot;&gt;
					&lt;span class=&quot;btn-text&quot;&gt;Accordion Component&lt;/span&gt;
				&lt;/button&gt;
			&lt;/div&gt;
			&lt;div class=&quot;accordion-body&quot; id=&quot;accordionCont4&quot;&gt;
				&lt;div class=&quot;accordion-inner&quot;&gt;
					...
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
<!-- //highlight-js -->
                                <div class="guide-accordion-area">
									<!-- accordion-display -->
                                    <div class="accordion-display design1 case1 type1">
										<div class="accordion-list">
											<div class="accordion-item">
												<div class="accordion-head">
													<button type="button" class="btn" aria-label="닫힘" aria-controls="accordionCont3"><span class="btn-text">accordionCont3 (닫힘상태)</span></button>
												</div>
												<div class="accordion-body" id="accordionCont3">
													accordionCont3 body. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, suscipit neque error doloribus quia impedit exercitationem sapiente voluptates nemo totam.
												</div>
											</div>
											<div class="accordion-item">
												<div class="accordion-head">
													<button type="button" class="btn" aria-label="닫힘" aria-controls="accordionCont4"><span class="btn-text">accordionCont4 (닫힘상태)</span></button>
												</div>
												<div class="accordion-body" id="accordionCont4">
													accordionCont4 body. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, suscipit neque error doloribus quia impedit exercitationem sapiente voluptates nemo totam.
												</div>
											</div>
										</div>
                                    </div>
									<!-- //accordion-display -->
                                </div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section accordion-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">common.js</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-body">
<!-- highlight-js -->
<pre class="highlight-js"><code class="javascript">document.addEventListener(&quot;DOMContentLoaded&quot;, () =&gt; {
	Accordion();
});</code></pre>
<!-- //highlight-js -->
                            </div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>